{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'moviepoll/index.css' %}">
	<title>{% block title %}Intek Movie Friday Poll app{% endblock %}</title>
</head>

<body>
	<div class="container">
		<h1>Intek Movie Friday Poll app</h1>
		<img src="{% static 'moviepoll/images/intek_logo.png' %}" alt="Intek logo" class="intek_logo">
		<h1 class="title">Choose a Friday movie to vote</h1>
		{% if latest_question_list %}
		<ul>
			{% for question in latest_question_list %}
			<li><a href="{% url 'moviepoll:detail' question.id %}">{{ question.question_text }}</a></li>
			{% endfor %}
		</ul>
		{% else %}
		<p>No polls are available.</p>
		{% endif %}
	</div>
</body>

</html>